<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <contextName>logback</contextName>
    <property name="log.path" value="E:\\wangyuan\\log\\logback.log"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-mm-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为WARN，则低于WARN的信息都不会输出。-->
    <root level="ERROR">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <!--用来设置某一个包或者具体的某一个类的日志打印级别-->
    <!--<logger name="com.dudu.controller"/>-->
    <!--&lt;!&ndash;logback.LogbackDemo：类的全路径 &ndash;&gt;-->
    <!--<logger name="com.dudu.controller.LearnController" level="WARN" additivity="false">-->
    <!--<appender-ref ref="console"/>-->
    <!--</logger>-->
</configuration>